h1 {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
h5 {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    font-family: Arial, Helvetica, sans-serif;
}
#vendorContainer {
    text-align: center;
    padding: 1em;
}
#vendorLabel {
    text-align: center;
}
#vendorInput {
    width: 60%;
    height: 20px;
}
#dateInput {
    height: 25px;
}
#amountInput {
    height: 20px;
    width: 100px;
}
.dateAmountContainer {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 1em;
}
#addItem:hover {
    cursor: pointer;
    opacity: 80%;
}
#addItem {
    background-color: #72a8fd;
    width: 100px;
    height: 40px;
    border-radius: 10%;
}
#expenseTable {
    width: 80%;
}
#columnHeaders {
    background-color: rgba(8, 103, 255, 0.8);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: .5em;
}
td {
    padding: .5em;
    text-align: center;
}
table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}
#deleteColumn {
    width: 20px;
    text-align: center;
}
.deleteButton {
    background-color: rgba(197, 16, 16, 0.9)
}
.deleteButton:hover {
    cursor: pointer;
    opacity: 80%;
}